[user]
    name = tsukui
    email = tsukui.akihiro@kyodo-d.jp
[color]
    ui = auto
[alias]
    br = branch
    co = checkout
[merge]
    ff = false
[push]
    default = tracking
[include]
	path = .gitconfig.local
