[user]
	name = tsukui
	email = tsukui.akihiro@kyodo-d.jp
[color]
    ui = auto
[alias]
    br = branch
    co = checkout
[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
